/* // Navbar */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.navbar {
  background-color: #003f5c !important;
}
.navbar-brand {
  color: white !important;
  font-weight: bold !important;
}
.nav-link {
  color: white !important;
}

/* content */
.content {
  padding-top: 80px;
}
/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #003f5c;
  text-align: center;
  color: white;
  padding: 0;
}

.footer p {
  margin: 5px;
}
.footer hr {
  margin: 0;
}
button {
  background-color: #003f5c;
  box-shadow: none;
  border: 1px solid gray;
  color: #fff;
  padding: 5px;
  border-radius: 2px;
}
button:hover {
  background-color: tomato;
  transition: all 0.2s ease;
  border: 1px solid white;
}
